body, h1, h2 , p, ul li a{
    margin: 0;
    padding: 0;
    font-family: "lato", Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
.info-br{
    background: #3b3838;
    color: #fff;
}
.info{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}
.info p, .info a{
    margin: 0px 10px 10px 10px;
}
a{
    color: #fff;
}
a:hover{
    color: rgb(255, 0, 0) ;
}

.cabecalho-total {
    background: #504c4c;
}
.cabecalho{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    flex-wrap: wrap;
}
.logo h1{
    font-size: 2.30em;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    margin: 10px;
}
.logo p{
    font-size: 0.9em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    margin-left: 25px;
    margin-top: 10px; 
    flex-wrap: wrap;   
}
.menu ul{
    display: flex;
    padding-left:0px;
    flex-wrap: wrap;

}
.menu a{
    font-size: 1.50em;
    text-transform: uppercase;
    display: block;
    padding: 15px;
}
.menu a:hover{
    color: rgb(255, 0, 0);
}

.slide-banner {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    animation: slide 15s infinite;
    animation-direction: alternate;    
}
@keyframes slide {
    0% {
        background-image: url(../arquivos/1.jpg);   
        opacity: 1;
    }
    50% {
        background-image: url(../arquivos/2.jpg);       
        opacity: 1;
    }
    100% {
        background-image: url(../arquivos/3.jpg);
        opacity: 1;
    }
}


.slide-banner .texto{
    display: flex;
}
.slide-banner li{
    margin: 80px;
}
.slide-banner p{
    color: rgb(252, 246, 246);
    font-size: 2.5em;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.322);
}


